---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Astro Shell Home">
	<h1>Welcome to the Astro Shell</h1>
	<p>
		Use the navigation in the header to open the Webpack or Vite remote
		apps.
	</p>

	<ul>
		<li>
			<a href="/webpack">Go to Webpack Remote</a>
		</li>
		<li>
			<a href="/vite">Go to Vite Remote</a>
		</li>
	</ul>
</MainLayout>
